.listbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5px;
  text-align: center;
  padding: 0;
  font-size: 1.5em;
}
h1 {
  color: rgb(173, 10, 52);
  text-align: center;
  font-size: 2.5em;
  margin: 1vh;
}
/* .listbox h1 {
  margin: 0;
  text-align: center;
} */

.listbox h2 {
  text-align: center;
  margin: 1em;
  padding: 2%;
  margin: 0;
  background-color: rgb(59, 59, 59);
  color: white;
  font-size: 0.9em;
}

.listbox h2:hover {
  background-color: rosybrown;
}

.listbox ul {
  text-align: center;
  padding: 20 20, 20 20;
  margin: 0;
  list-style: none;
}

.listbox p {
  font-size: 0.8em;
}

.listbox .sortButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.listbox .sortButtons button {
  font-size: 1em;
  color: white;
  background-color: rosybrown;
  padding: 5px;
  width: 7em;
  border-radius: 25px;
}

.upvoteButton button {
  -webkit-appearance: none;
  font-size: 1em;
  color: lightgray;
  margin: 0em;
  padding: 0;
  background-color: transparent;
  border: none;
}
.upvoteButton button:disabled {
  color: mediumspringgreen;
}

.downvoteButton button {
  -webkit-appearance: none;
  font-size: 1em;
  color: lightgray;
  margin: 0em;
  padding: 0;
  background-color: transparent;
  border: none;
}

.downvoteButton button:disabled {
  color: mediumvioletred;
}

.CommentsToggleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CommentsToggle {
  font-size: 1em;
  height: 7vh;
  color: white;
  background-color: mediumpurple;
}

.voteDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: rgb(173, 10, 52);
  margin-right: 20px;
}
.voteDiv p {
  font-size: 1.5em;
  width: 2em;
  text-align: end;
  margin: 0;
}

.postButton {
  font-size: 4vh;
  height: 8vh;
  color: white;
  background-color: mediumpurple;
  border-radius: 25px;
}

textarea {
  border-radius: 25px;
}

.pageButtons {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.pageButtons button {
  font-size: 1em;
}
