/* img {
  width: 200px;
  margin: 0px;
  background-color: rgb(59, 59, 59);
}

h1 {
  padding: 20px;
} */

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 2vw;
  text-align: center;
}

.loginContainer {
  text-align: center;
  width: 100%;
  margin: 2vh;
}
.loginContainer button {
  font-size: 1.5em;
  color: white;
  background-color: mediumpurple;
}
