.home h2 {
  text-align: center;
}
.home .homelist h2 {
  text-align: center;
  background-color: rgb(59, 59, 59);
  color: antiquewhite;
  padding: 0.5em;
  border-radius: 25px;
}
.home .homelist h2:hover {
  background-color: rgb(173, 10, 52);
}

.home .homelist ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.home .homelist .card h2 {
  width: 200px;
  font-size: 1.2em;
}

.home .homelist .card {
  height: 300px;
}
.home .homelist .card .voteDiv {
  font-size: x-large;
}
