nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgb(173, 10, 52); */

  color: aliceblue;
  text-align: center;
  border-radius: 25px;
  margin: 10px;
  padding: 5px;
  border: solid white;
}

span:hover {
  /* background-color: rgb(59, 59, 59); */
  background-color: sandybrown;
  padding: 3px;
  border-radius: 25px;
}
