/* 
.CommentList ul {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  margin: 0 0vw 0 0vw;
  list-style: none;
}
.CommentList form {
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 550px) {
  .CommentList li {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .CommentList {
    margin: 0;
    padding: 0;
  }
}
.commentInfo {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.commentBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.commentStamp {
  width: fit-content;
  margin: 0.5em;
  padding: 0.5em;
  border: ridge;
}

.deleteCommentButton {
  -webkit-appearance: none;
}

.loginprompt {
  text-align: center;
}

.CommentsToggleContainer button {
  width: 200px;
  border-radius: 25px;
  height: 25px;
}
.CommentsToggleContainer {
  align-items: center;
} */
